In [1]:
import numpy as np
import pandas as pd

In [ ]:
np.arange, np.array, np.zeros, np.ones, np.empty
np.random.randint, np.random.rand

In [8]:
np.arange(10).reshape(2, 5).size #

10

In [9]:
np.zeros((2,5))

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.]])

In [12]:
np.random.rand(2, 5)

array([[ 0.79003919,  0.50444038,  0.3893047 ,  0.05419613,  0.06322909],
       [ 0.51819175,  0.12653404,  0.95584603,  0.63835925,  0.26588111]])

In [17]:
np.eye(5) * 10

array([[ 10.,   0.,   0.,   0.,   0.],
       [  0.,  10.,   0.,   0.,   0.],
       [  0.,   0.,  10.,   0.,   0.],
       [  0.,   0.,   0.,  10.,   0.],
       [  0.,   0.,   0.,   0.,  10.]])

In [14]:
np.exp(np.eye(5))

array([[ 2.71828183,  1.        ,  1.        ,  1.        ,  1.        ],
       [ 1.        ,  2.71828183,  1.        ,  1.        ,  1.        ],
       [ 1.        ,  1.        ,  2.71828183,  1.        ,  1.        ],
       [ 1.        ,  1.        ,  1.        ,  2.71828183,  1.        ],
       [ 1.        ,  1.        ,  1.        ,  1.        ,  2.71828183]])

In [19]:
np.linalg.inv(np.eye(5)*10)

array([[ 0.1,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0.1,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0.1,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0.1,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0.1]])

### индексация

In [38]:
B = np.arange(12).reshape(2, 2, 3)
B

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [24]:
A = np.arange(15).reshape(5, 3)
A

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [46]:
choise = np.arange(A.shape[1]) % 2 == 0
A[:, choise]

array([[ 0,  2],
       [ 3,  5],
       [ 6,  8],
       [ 9, 11],
       [12, 14]])

### broadcasting

In [51]:
A.shape

(5, 3)

In [60]:
b = np.arange(5)
b.shape

(5,)

In [55]:
b[np.newaxis, :]

array([[ 1.,  1.,  1.]])

In [62]:
A * b[:, np.newaxis]

array([[ 0,  0,  0],
       [ 3,  4,  5],
       [12, 14, 16],
       [27, 30, 33],
       [48, 52, 56]])

In [68]:
b, b[:, np.newaxis]

(array([0, 1, 2, 3, 4]), array([[0],
        [1],
        [2],
        [3],
        [4]]))

In [66]:
A.T.dot(b)

array([ 90, 100, 110])

In [67]:
A.T@b

array([ 90, 100, 110])

In [79]:
a = np.random.randint(5, size=3)
b = np.random.randint(4, size=2)

In [82]:
a[:, np.newaxis] @ b[np.newaxis, :]

array([[8, 4],
       [4, 2],
       [2, 1]])

In [80]:
a, b

(array([4, 2, 1]), array([2, 1]))

In [84]:
np.min(A, axis=0)

array([0, 1, 2])

In [85]:
np.cumsum(a)

array([4, 6, 7])

In [86]:
np.cumsum(A, axis=0)

array([[ 0,  1,  2],
       [ 3,  5,  7],
       [ 9, 12, 15],
       [18, 22, 26],
       [30, 35, 40]])

In [116]:
np.concatenate((A, A[-2:-1, :]), axis=0)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [ 9, 10, 11]])

In [102]:
A[:, -1:]

array([[ 2],
       [ 5],
       [ 8],
       [11],
       [14]])

In [ ]:
np.insert(A, np.arange(5))

In [87]:
# X (l x d), y; w - ?
def linregr(X, y, lambda_1 = 1):
    coefs = np.linalg.inv(X.T @ X + lambda_1 * np.eye(X.shape[1])) @ X.T @ y
    return coefs

In [89]:
l = 100
d = 7
X = np.random.rand(l, d)
y = np.random.rand(l)
linregr(X, y, lambda_1 = 10 ** 7)

array([  2.46900851e-06,   2.41114227e-06,   2.55604515e-06,
         2.49172572e-06,   2.51440284e-06,   2.58660800e-06,
         2.36133215e-06])

In [125]:
a = np.array([[1, 1], [2, 2], [3, 3]])
np.insert(a, 2, np.arange(3), axis=1)

array([[1],
       [2],
       [3]])

In [131]:
### Задача 2:  X, поделить каждую строку на сумму элементов в ней
a = np.sum(X, axis=1)
X/a.reshape(-1,1)

array([[  2.50096284e-01,   3.48550914e-02,   1.68107776e-01,
          6.93582537e-02,   1.05328874e-03,   1.55375525e-01,
          3.21153781e-01],
       [  1.41430766e-01,   1.46238536e-01,   1.01388633e-02,
          1.76995727e-01,   1.57991069e-01,   1.85094395e-01,
          1.82110643e-01],
       [  7.47530665e-02,   5.30451439e-02,   3.65979488e-01,
          2.83782381e-02,   2.65734490e-01,   6.27692195e-03,
          2.05832652e-01],
       [  1.43430303e-01,   2.20823941e-02,   3.78917374e-02,
          2.02525807e-01,   3.20593911e-01,   9.39537270e-03,
          2.64080474e-01],
       [  1.62289550e-01,   1.19426328e-01,   5.82589797e-02,
          2.63183591e-01,   2.34771006e-01,   4.46369735e-02,
          1.17433571e-01],
       [  1.26086513e-02,   2.54747917e-01,   6.29939557e-02,
          2.46349983e-01,   2.14537387e-01,   7.81559533e-02,
          1.30606153e-01],
       [  1.92334585e-01,   1.65716227e-01,   1.12301414e-01,
          1.40889240e-01,   3.62990579e-02,   1.56787093e-01,
          1.95672383e-01],
       [  1.75428277e-01,   3.71430908e-02,   4.02733823e-02,
          1.96123794e-01,   1.55882027e-01,   1.41200205e-01,
          2.53949224e-01],
       [  1.41335001e-01,   7.73017296e-02,   1.73617228e-01,
          2.01295617e-01,   1.15990264e-01,   1.41738391e-01,
          1.48721770e-01],
       [  2.24238575e-01,   2.85298397e-01,   5.81191904e-02,
          1.28235006e-01,   5.58731191e-02,   1.97064716e-01,
          5.11709961e-02],
       [  1.72332409e-01,   7.38498420e-02,   1.99865251e-01,
          1.39380489e-01,   9.06941379e-02,   1.89541971e-01,
          1.34335900e-01],
       [  1.34886665e-01,   1.37852981e-01,   9.43651641e-02,
          2.74263612e-01,   9.15652800e-02,   8.61112286e-02,
          1.80955069e-01],
       [  1.11940865e-01,   7.97980862e-02,   1.16388093e-01,
          2.06518479e-01,   1.55373198e-01,   1.30040494e-01,
          1.99940785e-01],
       [  4.16648449e-02,   1.26582734e-01,   2.44606446e-01,
          1.51230522e-01,   1.34267071e-01,   1.18157447e-01,
          1.83490935e-01],
       [  2.10503080e-01,   5.89826785e-02,   2.88556489e-01,
          1.38566123e-02,   1.19626164e-01,   2.41783980e-01,
          6.66909974e-02],
       [  1.29305034e-01,   2.15541341e-01,   1.57165930e-01,
          9.20970421e-02,   1.49071402e-01,   1.85926491e-01,
          7.08927601e-02],
       [  2.85960678e-01,   3.14346513e-02,   2.68724970e-01,
          2.42954292e-01,   1.62856688e-02,   2.69453286e-02,
          1.27694411e-01],
       [  3.80875752e-01,   3.27892630e-01,   2.15367460e-02,
          6.36415275e-02,   1.06180334e-01,   8.78383862e-02,
          1.20346242e-02],
       [  1.11912653e-01,   2.72909392e-01,   4.98070456e-02,
          1.52134032e-01,   1.25547818e-01,   2.11559593e-01,
          7.61294669e-02],
       [  9.39928473e-02,   1.39236961e-01,   1.73722553e-01,
          1.85324109e-01,   7.81237205e-02,   1.82901926e-01,
          1.46697883e-01],
       [  1.14539006e-01,   1.55083148e-02,   6.05781364e-03,
          1.13590035e-01,   2.49014575e-01,   1.67665435e-01,
          3.33624822e-01],
       [  1.35022959e-01,   1.10299562e-01,   1.79784954e-01,
          1.62039045e-01,   1.92707221e-01,   7.61289942e-02,
          1.44017264e-01],
       [  6.60291927e-02,   5.83214489e-02,   1.71147955e-01,
          1.54696524e-01,   1.80394973e-01,   1.71470673e-01,
          1.97939234e-01],
       [  2.01794801e-01,   1.42169225e-01,   2.12429715e-01,
          1.18574653e-01,   1.76362791e-01,   1.04221497e-01,
          4.44473185e-02],
       [  1.16915414e-01,   5.41879466e-02,   1.55998144e-01,
          2.37572280e-01,   2.59707967e-02,   2.22825679e-01,
          1.86529740e-01],
       [  1.91706163e-01,   4.73334830e-02,   1.99282208e-01,
          1.74373041e-01,   1.55492545e-01,   6.05634937e-02,
          1.71249066e-01],
       [  2.72016086e-01,   1.18665464e-01,   1.24047212e-01,
          1.59751088e-01,   1.57728112e-01,   6.57436816e-02,
          1.02048356e-01],
       [  1.74080568e-01,   1.64601108e-01,   1.12104253e-01,
          2.17439841e-01,   1.93194833e-01,   1.17549536e-01,
          2.10298611e-02],
       [  2.39060711e-01,   5.27068535e-02,   1.28554917e-01,
          1.65446958e-01,   2.01100202e-01,   6.63914243e-02,
          1.46738934e-01],
       [  1.60971580e-01,   2.21888128e-01,   9.73827342e-02,
          1.44319728e-01,   4.17006815e-02,   1.38251423e-01,
          1.95485726e-01],
       [  1.14589912e-01,   1.55887045e-01,   6.45935711e-02,
          1.29129615e-01,   1.19262355e-01,   2.26598079e-01,
          1.89939424e-01],
       [  1.65545302e-01,   2.47489012e-01,   4.77194743e-02,
          5.92116874e-02,   8.36215986e-02,   3.13703022e-01,
          8.27099040e-02],
       [  1.30304499e-01,   5.71944952e-02,   9.84397742e-02,
          2.80410225e-01,   1.97996691e-01,   2.35145923e-01,
          5.08392551e-04],
       [  2.36191592e-02,   1.97469351e-01,   2.23291349e-01,
          1.57236303e-01,   5.20070120e-03,   1.77476203e-01,
          2.15706933e-01],
       [  1.12179870e-01,   4.79586323e-02,   1.07493805e-01,
          2.25939184e-01,   5.08648984e-02,   2.39973768e-01,
          2.15589842e-01],
       [  1.64078712e-01,   1.26595686e-01,   4.74624908e-02,
          1.73589446e-01,   1.51583166e-01,   2.01178032e-01,
          1.35512468e-01],
       [  1.93466570e-01,   3.70938699e-01,   6.74383210e-02,
          1.08887847e-01,   2.30779598e-02,   1.59014174e-01,
          7.71764295e-02],
       [  1.32960964e-01,   1.70740210e-01,   1.65242176e-01,
          1.91498708e-01,   1.86171389e-01,   9.17581486e-02,
          6.16284045e-02],
       [  1.97141917e-01,   2.36042522e-01,   1.52097784e-01,
          1.27878548e-01,   1.32102221e-01,   4.89859033e-02,
          1.05751105e-01],
       [  1.83360245e-01,   1.24815259e-01,   1.22583304e-01,
          1.48554900e-01,   1.55825359e-01,   2.30200326e-01,
          3.46606066e-02],
       [  2.25091235e-01,   1.02734077e-01,   2.08126684e-01,
          6.28996661e-02,   2.17647132e-01,   1.16877440e-01,
          6.66237654e-02],
       [  2.88240057e-02,   7.76932959e-03,   3.26483743e-02,
          2.00570557e-01,   1.75976490e-01,   2.35725472e-01,
          3.18485772e-01],
       [  3.34326572e-02,   6.73306085e-02,   3.12781710e-01,
          8.74158083e-02,   1.55358053e-01,   1.21080257e-01,
          2.22600906e-01],
       [  1.56239545e-01,   5.58452844e-02,   1.65346723e-01,
          1.84378810e-01,   9.39719285e-02,   1.36373120e-01,
          2.07844589e-01],
       [  2.24973097e-01,   2.01125501e-02,   1.54197998e-01,
          7.97899657e-02,   1.56508687e-01,   1.34033528e-01,
          2.30384175e-01],
       [  1.88534991e-01,   2.99238882e-01,   3.18366681e-02,
          1.21392007e-01,   1.32341360e-01,   7.52321589e-02,
          1.51423934e-01],
       [  7.04056617e-02,   3.88636040e-01,   1.96602780e-01,
          1.79691553e-01,   8.65963581e-02,   5.32382321e-02,
          2.48293752e-02],
       [  1.46598836e-01,   1.40722975e-01,   1.58007851e-01,
          2.06382758e-01,   7.56590022e-02,   1.01457719e-01,
          1.71170858e-01],
       [  1.50797887e-01,   7.69228025e-02,   2.14968521e-01,
          5.24069032e-02,   1.43426552e-01,   1.02650634e-01,
          2.58826699e-01],
       [  1.81252636e-01,   1.20531619e-01,   8.58769607e-02,
          1.03346591e-01,   1.73127339e-01,   1.42331278e-01,
          1.93533576e-01],
       [  9.05712825e-02,   9.28482785e-02,   1.45822859e-01,
          2.30692850e-01,   2.35892995e-01,   6.11481323e-02,
          1.43023603e-01],
       [  6.91399770e-02,   1.44714840e-01,   2.25504383e-01,
          1.58054962e-01,   9.36143184e-02,   5.93869339e-02,
          2.49584586e-01],
       [  7.70172207e-02,   3.77135248e-02,   1.10817887e-01,
          2.08620968e-01,   1.79712083e-01,   1.05110431e-01,
          2.81007886e-01],
       [  1.80918676e-01,   1.56479156e-01,   1.84737065e-01,
          5.74342237e-02,   5.83168344e-02,   2.47630226e-01,
          1.14483818e-01],
       [  2.91826985e-01,   6.79110779e-02,   4.80381451e-02,
          1.82921655e-01,   8.86788642e-02,   1.11656233e-01,
          2.08967040e-01],
       [  1.91213767e-01,   1.65792377e-01,   1.98161373e-01,
          2.10142651e-01,   1.14935294e-01,   7.28740883e-02,
          4.68804490e-02],
       [  1.60650675e-01,   1.98176856e-01,   6.68299078e-02,
          6.29358693e-02,   1.10783042e-01,   1.88569305e-01,
          2.12054345e-01],
       [  1.30800200e-01,   1.69068911e-01,   1.98776805e-01,
          9.64972985e-02,   2.15429290e-01,   1.22028094e-01,
          6.73994021e-02],
       [  7.97322936e-03,   1.14009906e-01,   2.15869177e-01,
          2.76941269e-01,   6.63226409e-02,   2.28266018e-01,
          9.06177594e-02],
       [  1.74269256e-01,   7.38610907e-02,   6.43778387e-02,
          1.34267968e-01,   9.16608392e-02,   1.89433881e-01,
          2.72129126e-01],
       [  5.86920151e-02,   2.75936781e-01,   2.33133000e-01,
          4.93782245e-02,   8.39840072e-02,   3.54795533e-02,
          2.63396419e-01],
       [  2.88836305e-01,   3.83251391e-02,   1.33298112e-01,
          6.91864245e-02,   3.06289825e-01,   1.41989770e-01,
          2.20744247e-02],
       [  2.22224310e-01,   1.34228898e-01,   8.09915515e-02,
          3.55668856e-02,   2.52084084e-01,   1.40588551e-01,
          1.34315720e-01],
       [  2.04673977e-01,   2.10574781e-01,   1.28981399e-01,
          1.26041428e-01,   1.51187776e-01,   1.21739720e-01,
          5.68009192e-02],
       [  1.85353429e-02,   1.95314923e-01,   2.03018512e-01,
          1.77294516e-01,   2.10814555e-01,   1.82929377e-01,
          1.20927740e-02],
       [  2.84727304e-02,   1.98787294e-01,   1.56320311e-01,
          1.22031942e-01,   1.89258092e-01,   1.39311222e-01,
          1.65818409e-01],
       [  4.22823240e-02,   2.17351283e-01,   2.22387772e-02,
          5.09680958e-03,   3.18790955e-01,   2.41412168e-01,
          1.52827683e-01],
       [  1.19386475e-01,   1.38695558e-01,   1.21482516e-01,
          2.57308134e-01,   4.20950550e-02,   1.41900203e-01,
          1.79132058e-01],
       [  2.21028392e-01,   9.42437086e-02,   1.62228487e-01,
          1.54588851e-02,   2.25936495e-01,   2.19994413e-01,
          6.11096199e-02],
       [  2.40818634e-01,   8.06131699e-02,   2.28032992e-01,
          1.84417368e-01,   4.99446585e-03,   1.28298255e-01,
          1.32825114e-01],
       [  1.70909002e-01,   2.34722946e-01,   2.18193902e-01,
          2.74103877e-02,   1.13411616e-01,   1.79085724e-01,
          5.62664215e-02],
       [  9.47757512e-02,   9.98812355e-02,   2.12944882e-01,
          1.79139402e-01,   7.40198453e-02,   1.56308362e-01,
          1.82930523e-01],
       [  1.74056498e-01,   1.44707614e-01,   3.98138429e-02,
          1.98674143e-01,   6.90388181e-02,   2.22812191e-01,
          1.50896893e-01],
       [  7.90360975e-02,   1.70229473e-01,   2.79183984e-01,
          1.00098109e-01,   8.70150941e-02,   2.42761007e-01,
          4.16762349e-02],
       [  1.92100120e-01,   5.51287238e-02,   1.00725956e-01,
          1.71558569e-01,   2.08994509e-01,   1.33395868e-01,
          1.38096254e-01],
       [  7.52103756e-02,   2.20400656e-01,   2.89196772e-01,
          7.33373164e-02,   6.27400412e-02,   3.66850920e-02,
          2.42429747e-01],
       [  4.29161216e-02,   3.17931029e-01,   5.49178943e-02,
          1.12601480e-01,   1.84365937e-01,   2.21817355e-01,
          6.54501836e-02],
       [  8.51921196e-02,   5.71575148e-02,   2.71882349e-01,
          4.62833989e-02,   3.65766622e-01,   6.50238623e-02,
          1.08694133e-01],
       [  8.61595981e-03,   2.93475623e-01,   1.35647604e-01,
          5.78562469e-02,   8.09602598e-02,   1.54432005e-01,
          2.69012302e-01],
       [  1.04627729e-01,   2.95490226e-01,   7.78344365e-02,
          2.90683255e-01,   8.18693646e-02,   9.61655195e-02,
          5.33294698e-02],
       [  1.48125139e-01,   1.28947999e-01,   1.69377090e-01,
          4.37703294e-02,   2.35020238e-01,   1.83362009e-01,
          9.13971947e-02],
       [  6.42121627e-02,   1.09321636e-02,   2.41366821e-01,
          3.26410854e-02,   2.16593331e-01,   2.06446782e-01,
          2.27807654e-01],
       [  5.96704996e-03,   5.73386339e-02,   1.40972991e-01,
          2.64056551e-01,   4.53891816e-02,   3.10771863e-01,
          1.75503730e-01],
       [  1.99985890e-01,   1.54674999e-01,   9.28989255e-02,
          1.60038806e-01,   1.73355202e-01,   8.64666989e-02,
          1.32579479e-01],
       [  2.38252655e-01,   1.41447422e-01,   8.51379029e-02,
          4.57206842e-02,   1.73123706e-01,   6.63298285e-02,
          2.49987802e-01],
       [  1.65465232e-01,   1.30963738e-01,   2.63618548e-01,
          2.89907616e-04,   1.37857179e-01,   2.76880084e-02,
          2.74117387e-01],
       [  2.17235078e-01,   2.59925568e-01,   5.62073770e-02,
          1.25586705e-01,   1.49173594e-01,   1.03268734e-01,
          8.86029433e-02],
       [  2.31890883e-01,   2.38349089e-01,   1.41109112e-01,
          4.83907266e-02,   2.23947621e-01,   6.17225370e-02,
          5.45900323e-02],
       [  1.61159207e-01,   1.08843380e-01,   3.14155423e-02,
          2.42955342e-01,   1.74150881e-01,   2.77231042e-01,
          4.24460478e-03],
       [  2.53038261e-01,   5.15518633e-02,   1.58882189e-01,
          2.07630403e-01,   5.15435113e-02,   2.21722300e-01,
          5.56314719e-02],
       [  2.49116607e-01,   2.32290516e-02,   2.62125813e-01,
          3.85624795e-02,   2.52497424e-01,   1.25505485e-01,
          4.89631403e-02],
       [  4.83921617e-02,   1.61746127e-01,   9.25982723e-02,
          8.89957499e-02,   1.67675013e-01,   2.08139311e-01,
          2.32453365e-01],
       [  2.26760070e-01,   1.45500405e-01,   5.10893561e-02,
          1.19879599e-01,   1.45826671e-01,   2.33551136e-01,
          7.73927621e-02],
       [  1.42179417e-01,   2.00280078e-01,   3.19416402e-02,
          5.80916704e-02,   2.09274168e-01,   2.11863972e-01,
          1.46369054e-01],
       [  1.49556200e-01,   1.27965815e-01,   1.46820340e-01,
          1.68352131e-01,   1.52354212e-01,   1.33102663e-01,
          1.21848638e-01],
       [  5.90203320e-02,   2.24671332e-01,   5.91787004e-02,
          1.64831142e-01,   2.34229793e-01,   1.24377469e-02,
          2.45630954e-01],
       [  1.36031087e-01,   4.46099883e-02,   2.34198397e-01,
          2.09899108e-01,   1.02053123e-01,   1.30151738e-01,
          1.43056559e-01],
       [  1.04646269e-01,   4.70246798e-02,   1.86643859e-01,
          2.40275131e-01,   8.81913824e-02,   2.21805771e-01,
          1.11412908e-01],
       [  1.84786086e-01,   1.72617075e-01,   6.59789739e-02,
          1.36650727e-01,   1.22997696e-02,   3.28966598e-01,
          9.87007711e-02],
       [  2.88352079e-01,   2.02486034e-02,   6.89154357e-03,
          2.24333641e-02,   2.54524071e-01,   2.03032407e-01,
          2.04517931e-01]])

In [143]:
a = np.random.rand(l)
y = np.random.randint(2, size=l)

In [140]:
idxs = np.argsort(a)

In [144]:
y[idxs]

array([1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0])

In [145]:
czz

array([ 0,  1,  3,  6, 10])

In [152]:
def revers_cumsum(x):
    return np.cumsum(x[::-1])[::-1]

In [153]:
revers_cumsum(np.arange(3))

array([3, 3, 2])

In [156]:
def roc_auc(y, a):
    lp = y.sum()
    lm = len(y) - lp
    indexes = np.argsort(a)
    y_sorted = y[ indexes ]
    ones_right = revers_cumsum(y_sorted)
    return ones_right[ y_sorted == 0 ].sum()/ lp / lm

In [157]:
roc_auc(y, a)

0.48067632850241543

In [158]:
from sklearn.metrics import roc_auc_score

In [159]:
roc_auc_score(y, a)

0.48067632850241543

In [162]:
df = pd.DataFrame({"a":[1, 2, 3], "b":[1, 1, 1]})
df

   a  b
0  1  1
1  2  1
2  3  1

In [163]:
df.columns, df.index

(Index(['a', 'b'], dtype='object'), RangeIndex(start=0, stop=3, step=1))

In [169]:
df = pd.read_csv("https://raw.githubusercontent.com/iad34/seminars/master/materials/data_sem1.csv",
           sep=";")

In [171]:
df.head(7)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund; Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings; Mrs. John Bradley (Florence Briggs Th...,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen; Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle; Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen; Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,Moran; Mr. James,unknown,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,McCarthy; Mr. Timothy J,male,54.0,0,0,17463,51.8625,E46,S

In [172]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [184]:
(df["Name"]+" "+df["Age"].astype(str)).head()

0                         Braund; Mr. Owen Harris 22.0
1    Cumings; Mrs. John Bradley (Florence Briggs Th...
2                          Heikkinen; Miss. Laina 26.0
3    Futrelle; Mrs. Jacques Heath (Lily May Peel) 35.0
4                        Allen; Mr. William Henry 35.0
dtype: object

In [179]:
pd.merge(sales, adresses, on="shop_id")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,Heikkinen; Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
3,4,1,1,Futrelle; Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.100,C123,S
4,5,0,3,Allen; Mr. William Henry,male,35.0,0,0,373450,8.050,NaN,S

In [199]:
df["Name"].map(lambda x: x.split(";")[0])

0               Braund
1              Cumings
2            Heikkinen
3             Futrelle
4                Allen
5                Moran
6             McCarthy
7              Palsson
8              Johnson
9               Nasser
10           Sandstrom
11             Bonnell
12         Saundercock
13           Andersson
14             Vestrom
15             Hewlett
16                Rice
17            Williams
18       Vander Planke
19          Masselmani
20              Fynney
21             Beesley
22             McGowan
23              Sloper
24             Palsson
25             Asplund
26                Emir
27             Fortune
28             O'Dwyer
29            Todoroff
            ...
861              Giles
862              Swift
863               Sage
864               Gill
865            Bystrom
866       Duran y More
867           Roebling
868      van Melkebeke
869            Johnson
870             Balkic
871           Beckwith
872           Carlsson
873    Vander Cruyssen
874            Abelson
875              Najib
876         Gustafsson
877            Petroff
878             Laleff
879             Potter
880            Shelley
881             Markun
882           Dahlberg
883           Banfield
884           Sutehall
885               Rice
886           Montvila
887             Graham
888           Johnston
889               Behr
890             Dooley
Name: Name, Length: 891, dtype: object

In [193]:
"my name is Nadia".split(" ")[0]

'my'

In [205]:
unigues = set(df["Sex"])
di = {x:i for i, x in enumerate(unigues)}
di

{'female': 0, 'male': 2, 'unknown': 1}

In [208]:
df["Sex"].head(), df["Sex"].map(di).head()

(0      male
 1    female
 2    female
 3    female
 4      male
 Name: Sex, dtype: object, 0    2
 1    0
 2    0
 3    0
 4    2
 Name: Sex, dtype: int64)

In [210]:
se = df["Sex"]
se.map()

0         male
1       female
2       female
3       female
4         male
5      unknown
6         male
7         male
8       female
9       female
10      female
11      female
12        male
13     unknown
14      female
15      female
16        male
17        male
18      female
19      female
20        male
21        male
22      female
23        male
24      female
25      female
26        male
27        male
28     unknown
29        male
        ...
861       male
862     female
863     female
864       male
865     female
866     female
867       male
868       male
869       male
870       male
871     female
872       male
873       male
874     female
875     female
876       male
877       male
878       male
879     female
880     female
881       male
882     female
883       male
884       male
885     female
886       male
887     female
888     female
889       male
890       male
Name: Sex, Length: 891, dtype: object

In [211]:
def fun(x):
    return x.split(";")[0]

df["Name"].apply(fun)

0               Braund
1              Cumings
2            Heikkinen
3             Futrelle
4                Allen
5                Moran
6             McCarthy
7              Palsson
8              Johnson
9               Nasser
10           Sandstrom
11             Bonnell
12         Saundercock
13           Andersson
14             Vestrom
15             Hewlett
16                Rice
17            Williams
18       Vander Planke
19          Masselmani
20              Fynney
21             Beesley
22             McGowan
23              Sloper
24             Palsson
25             Asplund
26                Emir
27             Fortune
28             O'Dwyer
29            Todoroff
            ...
861              Giles
862              Swift
863               Sage
864               Gill
865            Bystrom
866       Duran y More
867           Roebling
868      van Melkebeke
869            Johnson
870             Balkic
871           Beckwith
872           Carlsson
873    Vander Cruyssen
874            Abelson
875              Najib
876         Gustafsson
877            Petroff
878             Laleff
879             Potter
880            Shelley
881             Markun
882           Dahlberg
883           Banfield
884           Sutehall
885               Rice
886           Montvila
887             Graham
888           Johnston
889               Behr
890             Dooley
Name: Name, Length: 891, dtype: object

In [219]:
df.groupby("Last name").apply(lambda x: x.shape[1])

Last name
Abbing              1
Abbott              2
Abelson             2
Adahl               1
Adams               1
Ahlin               1
Aks                 1
Albimona            1
Alexander           1
Alhomaki            1
Ali                 2
Allen               2
Allison             3
Allum               1
Andersen-Jensen     1
Anderson            1
Andersson           9
Andreasson          1
Andrew              1
Andrews             2
Angle               1
Appleton            1
Arnold-Franchi      2
Artagaveytia        1
Asim                1
Asplund             4
Astor               1
Attalah             2
Aubart              1
Augustsson          1
                   ..
Wells               1
West                3
Wheadon             1
White               2
Wick                2
Widegren            1
Widener             1
Wiklund             1
Wilhelms            1
Willey              1
Williams            4
Williams-Lambert    1
Windelov            1
Wiseman             1
Woolner             1
Wright              1
Yasbeck             2
Young               1
Youseff             1
Yousif              1
Yousseff            1
Yrois               1
Zabour              2
Zimmerman           1
de Messemaeker      1
de Mulder           1
de Pelsmaeker       1
del Carlo           1
van Billiard        1
van Melkebeke       1
Length: 667, dtype: int64

In [220]:
df.shape

(891, 13)